/* Add a black background color to the top navigation*/ 
.topnav {
  opacity: .9;
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  font-size: 17px;
}
.topnav .my-account {
  float: right;
  text-align: center;
  font-size: 17px;
}

/* Change the color of links on hover*/ 
.topnav a:hover {
  
  background-color:  #3393ff ;
}

a:link, a:visited{
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*a:hover, a:active {}*/

 /* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 
/* Style the input container */
.topnav .login-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=email], input[type=password]{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; 
}
/* Change background color on focus (Clicking)*/
.topnav input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Style the button inside the input container */
.topnav .login-container input[type=button], input[type=submit] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #3393ff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container input[type=submit]:hover {
  background:  #3393ff ;
}

